{% extends "base.html" %}

{% load custom_filters %}

{% block content %}
  <div class="text-xl mt-25 mx-8">
    {% for word_block in word_blocks %}
      <div id="page-{{ pno }}-block-{{ forloop.counter0 }}" class="mb-8">
        {% for word_dict in word_block %}
          <a
            href="{% url "pdf:word" pno word_dict.value %}?font={{ word_dict.font }}"
            class="inline-block hover:bg-red-900 cursor-pointer"
          >
              {{ word_dict.value }}
          </a>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
